* {
    text-decoration: none;
}


.home {
    background-color:aliceblue;
    height: 90%;
    width: 75%;
    border-radius: 20px;
    margin: 10px;
}

.home h2 {
    font-family: monospace;
    text-align: center; 
    padding: 5px;
}

.home p {
    font-family: arial;
    text-align: center;
    padding: 20px;
}

.pictures img {
    width: 18%;
    height: 18%;
    padding: 10px;
    display: inline-block;
    margin-left: 100px;
}

.border {
    padding: 20px 20px 20px 20px;
}

header {
    background-color:lavender;
    width: 100%;
    height: 100px;
}

h1 {
    font-family: monospace;
    font-size: 50px;
    text-indent: 50px;
    text-shadow: 4px 2px lightgray;
}

h3 {
    font-family: monospace;
    font-size: 20px;
    position: absolute;
    text-indent: -15px;
    top: 5 px;
    right: 50px;
}

h5 {
    font-family: monospace;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

span {
    font-family: arial;
    font-size: 12px;
    bottom: 50px;
    margin: 10px;
}


nav {
    background-color: lightgray;
    width: 100%;
    height: 10px;
}

ul {
    list-style: none;
    padding: 0 10px;
    top: 200px;
    left: 50px;
    overflow: hidden;
}

header nav ul li a {
    font-family: monospace;
    font-size: 15px;
    background-color: lightgray;
    padding: 5px;
    float: left;
}


a:hover {
    color: black;
    transition: 0.5s;
}

section {
    padding: 20px 20px 20px 20px;
}

aside {
    height: 300px;
    width: 15%;
    margin: 10px;
    border-radius: 20px;
    position: absolute;
    top: 150px;
    right: 10px;
    padding: 15px;
    margin: 15px;
    font-style: monospace;
    background-color: rgb(255, 238, 249);
}

aside ul li {
    font-family: monospace;
    text-align: center;
    text-indent: 60px;
    font-size: 12px;
    padding: 5px;
}

aside h2 {
    padding: 0px;
    text-align: center;
    text-indent: 0px;
}

.disc  {
    background: url('../images/sprites.png') -59px -223px;
    width: 50px;
    height: 50px;
}

.fb {
    background: url('../images/sprites.png') no-repeat -224px -223px;
    width: 49px;
    height: 49px;
}

.yt {
    background: url('../images/sprites.png') no-repeat -389px -223px;
    width: 50px;
    height: 50px;
}

.disc:hover  {
    background-color: white;
    width: 55px;
    height: 56px;
}

.fb:hover  {
    background-color: white;
    width: 55px;
    height: 56px;
}

.yt:hover  {
    background-color: white;
    width: 55px;
    height: 56px;
}

.rotate {
    animation: rotation 8s infinite linear;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 80px;
    bottom: 5px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.setup {
    background-color: aliceblue;
    width: 20%;
    height: 20%;
    margin: 10px 20px;
    border-radius: 20px;
    padding: 20px;
    float: left;
}

.lists {
    background-color: aliceblue;
    width: 20%;
    height: 20%;
    margin: 10px 20px;
    border-radius: 20px;
    padding: 20px;
    float: left;
}

.music {
    background-color: aliceblue;
    width: 20%;
    height: 20%;
    margin: 10px 20px;
    border-radius: 20px;
    padding: 20px;
    float: left;
}


.rest {
    background-color: aliceblue;
    width: 20%;
    height: 20%;
    margin: 10px 20px;
    border-radius: 20px;
    padding: 20px;
    float: left;
}

.reqs {
    background-color: aliceblue;
    width: 20%;
    height: 20%;
    margin: 10px 20px;
    border-radius: 20px;
    padding: 20px;
    float: left;
}

.sleep {
    background-color: aliceblue;
    width: 20%;
    height: 20%;
    margin: 10px 20px;
    border-radius: 20px;
    padding: 20px;
    float: left;
}

.video {
    text-align: center;
    font-family: monospace;
}

video {
    border: 10px solid aliceblue;
    border-radius: 20px;
}

.icon img {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 200px;
    left: 15px;
    transform: rotate(13deg);
}

footer {
    background-color: lavender;
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer h3 {
    left: 50px;
    font-size: 9px;
}

footer h4 {
    font-size: 10px;
    position: relative;
    bottom: 15px;
    right: 20px;
    text-align: right;
    font-family: monospace;
}

footer h5 {
    font-size: 10px;
    position: relative;
    bottom: 10px;
    right: 20px;
    text-align: right;
    font-family: monospace;
}

.page {
    font-size: 10px;
    position: relative;
    bottom: 20px;
    right: -5px;
    text-align: right;
    font-family: monospace;
}
